APScheduler==2.1.0
-e git://github.com/flatironcollective/beaker.git@645e3a28416433b1ddafbeab81f0a49cdeb34efc#egg=Beaker-dev
BeautifulSoup==3.2.1
Fabric==1.5.2
Flask==0.9
Flask-Assets==0.7
Flask-Bcrypt==0.5.2
Flask-Cache==0.10.1
-e git://github.com/flatironcollective/flask-mail.git@4a309e4ceef9476a5abd406b80e660af73d5c729#egg=Flask_Mail-dev
Flask-OAuth==0.12
Flask-WTF==0.8.2
Jinja2==2.6
Mako==0.7.2
Markdown==2.3.1
MarkupSafe==0.15
MySQL-python==1.2.4b5
PIL==1.1.7
PyRSS2Gen==1.1
SQLAlchemy==0.7.9
WTForms==1.0.2
Werkzeug==0.8.3
alembic==0.4.0
amqp==1.0.6
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.19
-e git://github.com/bitly/bitly-api-python.git@3b19d8ab89e0ba821c4b413676cd0c8d157a33fa#egg=bitly_api-dev
blinker==1.2
boto==2.6.0
configobj==4.7.2
cssselect==0.7.1
gunicorn==0.17.2
hipchat==0.0.1
httplib2==0.8
kombu==2.5.4
mutagen==1.20
oauth2==1.5.211
paramiko==1.9.0
path.py==2.4.1
py-bcrypt==0.2
pycrypto==2.6
pylibmc==1.2.3
pyres==1.4.1
python-dateutil==1.5
readline==6.2.2
redis==2.7.2
requests==1.0.2
setproctitle==1.1.6
simplejson==3.0.5
webassets==0.7
wsgiref==0.1.2
