{%- macro quick_form(form, action='', method='POST', submit='Submit') -%}
    <form method="{{ method }}" action=" {{ action }}" class="form-horizontal" role="form">
        {{ form.hidden_tag() }}
        <fieldset>
        {% for field in form if not (field.type == 'HiddenField' or field.type == 'CSRFTokenField')%}
            <div class="form-group {{ 'has-error' if field.errors else '' }}">
                <label class="col-lg-2" for="{{ field.name }}">{{ field.name.capitalize() }}</label>
                <div class="col-lg-4">
                    {{ field(placeholder=field.name.capitalize(), id=field.name, class="form-control") }}
                    {% if field.errors %}
                        <p class="help-block">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {%- if next -%}
            <input type='hidden' name='next' value='{{ next }}' />
        {%- endif -%}
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-default">{{ submit }}</button>
                </div>
            </div>
        </fieldset>
    </form>
{%- endmacro -%}
